[user]
	email = thardy@onetechnologies.net
	name = Tim Hardy
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
  rmo = remote -v 
  ct = commit
  br = branch
  co = checkout
  df = diff --name-status
  dt = difftool 
  lo = log -20 --graph --decorate --format=format:\"%C(bold yellow)%h%Creset %ad %C(bold blue)%an%Creset %s %C(bold green)%d%Creset\" --date=local
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[diff]
        tool = p4merge
[difftool "p4merge"]
        cmd = p4merge.exe \\\"$BASE\\\" \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\"

[difftool]
        prompt = false
[core]
	pager = less -E
	whitespace = cr-at-eol
[log]
	decorate = full
[merge]
        tool = p4merge
[mergetool "p4merge"]
    cmd = "p4merge.exe $BASE $LOCAL $REMOTE $MERGED"
    trustExitCode = true
    keepBackup = false

[mergetool]
        keepBackup = false